* {
    font-size: 62.5%;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #234E70;
    color:#FBF8BE;
}

h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

#contain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-wrap: wrap;
}

#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    margin: 1rem;
    padding: 2rem;
    width: 25rem;
    background-color: #0c1a25;
    border-radius: 10px;
}

.button:hover {
    box-shadow: 0px 5px 15px 5px rgba(12,26,37,0.54);
    transition: transform 300ms;
    transform: scale(103%);
}

/* quiz page */

#header {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
}

#header h1 {
    padding-top: 4px;
    overflow: hidden;
}

.quiz-box {
    min-width: 400px;
    min-height: 400px;
    text-align: center;
    margin-right: 20px;
    display: block;
}

.picture-item {
    height: fit-content;
    margin: none;
    padding: none;
    display: block;
    overflow: hidden;
    object-fit: contain;
}

#pic1 {
    display: block;
    margin: 0;
}

.quiz-button {
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    margin: 1.5rem;
    padding: 2rem;
    width: 400px;
    background-color: #0c1a25;
    border-radius: 10px;
}

.quiz-button:hover {
    box-shadow: 0px 5px 15px 5px rgba(12,26,37,0.54);
    transition: transform 300ms;
    transform: scale(103%);
}

@media screen and (max-width: 768px) {
    .quiz-box {
        min-width: 40rem;
    }
}