* {
    font-size: 62.5%;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #234E70;
    color:#FBF8BE;
}

h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

#landing-page-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-wrap: wrap;
}

#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    margin: 1rem;
    padding: 2rem;
    width: 25rem;
    background-color: #0c1a25;
    border-radius: 10px;
}

.button:hover {
    box-shadow: 0px 5px 15px 5px rgba(12,26,37,0.54);
    transition: transform 300ms;
    transform: scale(103%);
}

/* quiz page */

#header {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
}

#header h1 {
    padding-top: 5vh;
}

.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 5rem;
    flex-direction: row;
}

.break {
    flex-basis: 100%;
    height: 20px;
}

.top-row {
    margin-right: 3%;
    padding: 3rem;
}

#progress {
    width: 30rem;
    height: 4rem;
    border-radius: 70px;
    border: 3px solid #FBF8BE;
    overflow: hidden;
    padding: 3rem;
}

.quiz-box {
    text-align: center;
    margin-right: 20px;
}

.picture-item {
    overflow: hidden;
    object-fit: contain;
    font-size: 0;
}
 
.quiz-button {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
    margin: 1.5rem;
    padding: 2rem;
    width: 400px;
    background-color: #0c1a25;
    border-radius: 10px;
}

.quiz-button:hover {
    box-shadow: 0px 5px 15px 5px rgba(12,26,37,0.54);
    transition: transform 300ms;
    transform: scale(103%);
}

@media screen and (max-width: 600px) {

    .contain {
        justify-content: space-between;
    }

    .quiz-button {
        font-size: 2rem;
        margin: 0.5rem;
        padding: 2rem;
        width: 90%;
    }
}