* {
    font-size: 62.5%;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #234E70;
    color:#FBF8BE;
}

h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

/* landing page */

#page-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-wrap: wrap;
}

#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#username {
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    margin: 1rem;
    width: 25rem;
    background-color:#FBF8BE;
    color: #234E70;
    border-radius: 10px;
}

#label {
    font-size: 3rem;
    padding-top: 2.5rem;
}

.button {
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    margin: 1rem;
    padding: 2rem;
    width: 25rem;
    background-color: #0c1a25;
    border-radius: 10px;
    border-style: solid;
    border-color: silver;
    border-width: 1px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0px 5px 15px 5px rgba(12,26,37,0.54);
    transition: transform 300ms;
    transform: scale(1.03);
}

#instructionsBox {
    display: none;
    font-size: 1.5rem;
}

/* quiz page */

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
}

.center h1 {
    padding-top: 1rem;
}

.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 5rem;
    flex-direction: row;
}

.break {
    flex-basis: 100%;
    height: 10px;
}

.top-row {
    margin-right: 3%;
    padding: 3rem;
}

#progress {
    width: 30rem;
    height: 5rem;
    border-radius: 70px;
    border: 3px solid #FBF8BE;
    overflow: hidden;
}

#progressBar {
    width: 0%;
    height: 100%;
    background-color: #FBF8BE;
}

.quiz-box {
    text-align: center;
    margin-right: 20px;
}

.picture-item {
    overflow: hidden;
    object-fit: contain;
    font-size: 0;
    cursor: pointer
}

.quiz-button {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
    margin: 1.5rem;
    padding: 2rem;
    width: 400px;
    background-color: #0c1a25;
    border-radius: 10px;
    cursor: pointer;
}

.quiz-button:hover {
    box-shadow: 0px 5px 15px 5px rgba(12,26,37,0.54);
    transition: transform 300ms;
    transform: scale(1.03);
}

#instructions {
    font-size: 1rem;
}

#score, #pointsToWin {
    font-size: 3rem;
}

#sound {
    width: 30px;
    background-color: #0c1a25;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.fa-volume-mute, .fa-volume-up {
    background-color: #0c1a25;
    margin-bottom: 15px;
    font-size: 2rem;
}

/* end of quiz page */

.quiz-end-text {
    font-size: 4rem;
    padding-bottom: 0.5rem;
}

/* leaderboard */

#leaderboard-list li {
    list-style: none;
    background-color: #FBF8BE;
    color: #234E70;
    font-weight: 900;
    font-size: 3rem;
    width: 250px;
    border: #234E70;
    border-style: solid;
    border-width: 1px;
}

.home-icon {
    background: #0c1a25;
    font-size: 2.5rem;
}

@media screen and (max-width: 1280px) {
    h1 {
        margin-top: 4px;
        font-size: 3rem;
    }

    .top-row {
        padding-bottom: 0.3rem;
    }

    .button {
        padding: 1.5rem;
    }

    .quiz-button {
        font-size: 2rem;
        margin: 0.5rem;
        padding: 2.5rem;
        width: 350px;
    }

    .break {
        height: 2px;
    }
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 2.5rem;
    }

    .button {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 550px) {
    
    h1 {
        font-size: 2.5rem;
    }

    .top-row {
        padding: 0.5rem;
    }

    #progress, #progressBarm, #progress-title {
        display: none;
    }

    .picture-item {
        width: 390px;
        margin-left: 20px;
    }

    .quiz-button {
        padding: 1rem;
        margin-left: 20px;
    }

    .quiz-end-text {
        font-size: 3rem;
    }
}

@media screen and (max-width: 375px) {
    .quiz-button {
        margin-left: 35px;
    }
}

@media screen and (max-width: 350px) {

    h1 {
        margin-left: 20px;
    }

    .top-row {
        margin-left: 35px;
    }
    
    .picture-item {
        margin-left: 0px;
    }

    .quiz-button {
        margin-left: 50px;
        width: 340px;
    }
    
}